<h1>Table of Contents</h1>
<br><br>
<ul>
  <% @lessons.each do |lesson| %>
    <li><a href="/lessons/<%= lesson.url_name %>"><%= lesson.name %></a></li>
  <% end %>
</ul>
<br><br>
<p><a href="/lessons/new" class="btn btn-info">Create a New Lesson</a></p>

