h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif !important;
  color: #606060 !important;
}

a {
  color: #D00400 !important;
}

.btn {
  color: white !important;
}

body {
  background-color: #F5F5F5 !important;
}

.navbar {
  background-color: white !important;
}
