<!DOCTYPE html>
<html>
<head>
  <title>Learnhowtoprogram</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
<br>
<br>
<br>

<div class = "navbar navbar-default navbar-fixed-bottom">
  <div class"container">
    <p class="navbar-text">© 2014 <a href ="http://www.learnhowtoprogram.com/table-of-contents">Epicodos</a>, Inc.</p>
    <a href="/" class="navbar-text pull-right">Table of Contents</a>
  </div>
</div>

</div>
</body>
</html>
